body
{
	font-family: 'Roboto';

	.container-fluid
	{
		padding: 0px;
	}
}

.jumbotron
{
	color: white;
	background-color: rgb(62, 80, 180);
	padding: 5%;

	.h1_caption
	{
		font-weight: lighter;
	}
}

.talks_container
{
	.talk_thumbnail
	{
		paper-button[raised].play
		{
			color: white;
			background-color: #259b24;
		}

		paper-button[raised].download_slides
		{
			color: white;
			background-color: #e51c23;
		}
	}
}