body
{
	font-family: 'Roboto';

	.container-fluid
	{
		padding: 0px;
	}

	.vertical-gap
	{
		display:block;
		margin: 20px;
	}
}

.jumbotron
{
	color: white;
	background-color: rgb(62, 80, 180);
	padding: 5%;
	margin-bottom: 0px;

	.h1_caption
	{
		font-weight: lighter;
	}
}

.attending_container
{
	google-map
	{
		display: block;
		width: 100%;
		height: 300px;
	}
}

.talks_container
{
	.talk_thumbnail
	{
		paper-button[raised].play
		{
			color: white;
			background-color: #259b24;
		}

		paper-button[raised].download_slides
		{
			color: white;
			background-color: #e51c23;
		}
	}
}